@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

@layer base {
  :root {
    --bg-primary: #ffffff; /* white */
    --bg-secondary: #f7f8fe; /* light blue */
    --bg-tertiary: #edeff6; /* light blue */

    --text-primary: #535D66; /*black-coral */
    --text-secondary: #78838D; /* slate-gray */
    --text-tertiary: #EDEFF6; /* alice-blue */

    --border-soft: #e1e3ed; /* azureish-white */
    --border-light: #EDEFF6; /* alice-blue */


  }

  .dark {
    --bg-primary: #232323; 
    --bg-secondary: #2e2e2e; 
    --bg-tertiary: #535d66; 

    --text-primary: #ffffff; 
    --text-secondary: #bac2c7; 
    --text-brand: #3b85f3; 

    --border-soft: #535d66; 
    --border-light: #7e7f85; 
  }
}

body {
  font-family: "Sora", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}
